<section class=" relative px-4 sm:px-8 bg-cover bg-[url('images/gimnasio.png')]  lg:px-16 xl:px-40 2xl:px-64 pt-32 pb-48 sm:pb-64 md:pt-40 md:pb-48 lg:pt-40 xl:pb-64 2xl:pt-56 2xl:pb-96 text-center sm:text-left">      

    <div>
        <div class="relative w-full sm:w-2/3 lg:w-1/2 z-10">
          <h1 class="text-2xl lg:text-4xl xl:text-5xl leading-tight font-bold text-black	">ABNEHMEN te permite controlar tu peso mejor.</h1>
          <p class=" mt-12 text-base leading-snug text-black	">La mejor opción para gente constante que persigue sus objetivos. Te ayudamos a conseguirlo de la manera más rápida posible. </p>
        </div>
      </div>
</section>

  <section class="relative px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-64 py-20 text-center ">


      <div class="flex flex-col  md:flex-row items-start justify-between mt-12 cursor-default">
        <div class="w-full shadow-lg  lg:p-8 md:mx-2 lg:mx-4 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 hover:bg-slate-200 text-white font-semibold py-3 px-6 rounded-md">
          <img src="images/nosotros.png" alt="" class="mx-auto h-32">
          <h4 class="text-xl text-gray-700 text-center font-bold leading-tight mt-8 ">¿Por qué nosotros?</h4>
          <p class="text-gray-700 mt-2">Porque con ABNEHMEN consigues antes el objetivo disfrutando del proceso.</p>
        </div>

        <div class="w-full  shadow-lg  lg:p-8 md:mx-2 lg:mx-4 	transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 hover:bg-slate-200 text-white font-semibold py-3 px-6 rounded-md">
          <img src="images/adelgazar.png" alt="" class="mx-auto h-32">
          <h4 class="text-xl text-gray-700 text-center font-bold leading-tight mt-8">¿Para quién?</h4>
          <p class="text-gray-700 mt-2">Para personas que quieren sentirse mejor consigo mismas, más ligeras y más sanas.</p>
        </div>

        <div class="w-full  shadow-lg  lg:p-8 md:mx-2 lg:mx-4 	transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 hover:bg-slate-200 text-white font-semibold py-3 px-6 rounded-md">
          <img src="images/deporte.png" alt="" class="mx-auto h-32">
          <h4 class="text-xl text-gray-700 text-center font-bold leading-tight mt-8">¿Cómo?</h4>
          <p class="text-gray-700 mt-2">Controlamos tu peso y te decimos que ejercicios puedes hacer para lograr tu objetivo.</p>
        </div>
      </div>


</section>

      {{!-- <div class="flex flex-col md:flex-row items-start justify-between mt-12 ">
        <div class="w-full bg-white shadow-lg rounded-lg px-4 py-6 lg:p-8 md:mx-2 lg:mx-4">
          <img src="images/nosotros.png" alt="" class="mx-auto h-32">
          <h4 class="text-xl text-center font-bold leading-tight mt-8 ">¿Por qué nosotros?</h4>
          <p class="text-gray-700 mt-2">Está demostrado que utilizando aplicaciones para controlar tu peso consigues antes el objetivo.</p>
        </div>

        <div class="w-full bg-white shadow-lg rounded-lg px-4 py-6 lg:p-8 md:mx-2 lg:mx-4 mt-4 md:mt-0">
          <img src="images/adelgazar.png" alt="" class="mx-auto h-32">
          <h4 class="text-xl text-center font-bold leading-tight mt-8">¿Para quién?</h4>
          <p class="text-gray-700 mt-2">Para personas que quieren sentirse mejor consigo mismas, más ligeras y más sanas.</p>
        </div>

        <div class="w-full bg-white shadow-lg rounded-lg px-4 py-6 lg:p-8 md:mx-2 lg:mx-4 mt-4 md:mt-0">
          <img src="images/deporte.png" alt="" class="mx-auto h-32">
          <h4 class="text-xl text-center font-bold leading-tight mt-8">¿Cómo?</h4>
          <p class="text-gray-700 mt-2">Controlamos tu peso y te decimos que ejercicios puedes hacer para lograr tu objetivo.</p>
        </div>
      </div>
    </section> --}}









