<!DOCTYPE html>
<html>
  <head>
  <title>{{title}}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" href="images/logo.png">


  </head>
  <body>
    {{> navbar}}

    {{{body}}}

    {{> footer}}
  </body>
</html>
