<footer class=" relative border-t border-gray-200">
      <div
        class="container flex flex-wrap items-center justify-center px-4 py-8 mx-auto lg:justify-between">
        <div class="flex flex-wrap justify-center">
          <ul class="flex items-center space-x-4">
            <a href="/"><li>Inicio</li></a>
            <a href="/Perfil"><li>Perfil</li></a>
            <a href="/Deporte"><li>Ejercicios</li></a>
            <a href="/Tienda"><li>Catálogo</li></a>

          </ul>
        </div>
        <div class="flex justify-center mt-4 lg:mt-0">
          <a href="https://www.instagram.com/" class="ml-3"><img class="w-6 h-6" src="images/instagram.png"></a>
          <a href="https://www.facebook.com/" class="ml-3"><img class="w-6 h-6" src="images/facebook.png"></a>
          <a href="https://www.twitter.com/" class="ml-3"><img class="w-6 h-6" src="images/twitter.png"></a>
        </div>
      </div>
</footer>